body, html, h1, p {
    margin: 0;
    padding: 0;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: cadetblue;
}
a {
    text-decoration: none;
    color: rgb(184, 184, 184);
}
body {
    background-color: black;
}

@keyframes Anim {
  from {filter:opacity(0);}
  to {filter: opacity(1);}
}

@keyframes Anim2 {
  from {top: 2rem;}
  to {top: -1rem;}
}
.mid_info {
    background-color: cadetblue;
    animation-name: Anim;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    width: 100vw;
    margin: auto;
    text-align: center;
}
.mid_info_div {
    user-select: none;
    background-color: white;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    padding: 10px;
}
.mid_info_container {
    width: 75%;
    margin: auto;
    position: relative;
    bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
.corner_info {
    position: absolute;
    left: 0;
    animation-name: Anim2;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    margin: auto;
}
.hidden {
    display: none;
}
.weatherImg {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by all modern browsers */
  -webkit-user-drag: none; /* Prevents dragging in WebKit browsers */
  position: relative;
  bottom: 2rem;
  width: 256px;
}
.bg-cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url(/static/bg2.jpg) center center no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px) brightness(0.5);
    z-index: -1;
}

h1, h2, h3, b, a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.bar {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: rgb(82, 82, 82);
    border-bottom: 5px solid cadetblue;
}
.text-center {
    text-align: center;
}

.searchbar_input {
    display: flex;
    border-radius: 7px;
    border: 2px solid rgb(153, 153, 153);
    background-color: rgb(90, 90, 90);
    color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 1rem auto;
    width: 100%;
    height: 2rem;
}

.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    width: 20rem;
    align-content: center;
}

.infobar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    column-gap: 0.1rem;
    width: 30rem;
    align-content: center;
}