<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css"/>
    <script src="https://kit.fontawesome.com/b6ad2a5fa2.js" crossorigin="anonymous"></script>
    <title>{{ title }}</title>
</head>
<body>
    <div class="bg-cover"></div>
        <div id="handlebar" class="bar">
            <h1>Weather GO</h1>
            <a href="/">Pesquisar</a>
            <a href="/about">Sobre</a>
        </div>
        <div class="infobar">
            <h1>Informações do projeto:</h1>
            <br>
            <p>Página do Github: <a href="https://github.com/lukra2" target="_blank">https://github.com/lukra2</a></p>
            <p>Porfólio: Em desenvolvimento</p>
            <br>
            <p>Produzido por Lucas Américo</p>
        </div>
        <div class="searchbar">
            <p id="error"></p>
        </div>
</body>
</html>
